:root {
  --primary-color: #b5d4c7;
  --secondary-color: #355c4c;
  --thirdy-color: #5da285;
  --other--msgs: #cee9dc;
  --background-modal: rgba(0, 0, 0, 0.9);
}
/*Basic features*/
html,
body {
  background-color: var(--primary-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
margin: 0;
padding: 0;
  
}

header {
  margin: 0;
  background-color: var(--thirdy-color);
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
   box-shadow: 0px 0px 18px 2px rgba(48, 47, 47, 0.76);
}

.userInfo{
background-color: var(--secondary-color);
padding: 5px 10px;
border-radius: 10px;
  font-size: 18px;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
gap: 10px;
}

.userInfo svg {
  width: 30px;  
  height: 30px;
  fill: white; 
}

h1 {
  padding: 5px;
  margin: 0;
  color:var(--primary-color);
}
/*chat*/
.chatSpace {
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 100%;
  border: var(--primary-color) solid 2px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 2px rgba(48, 47, 47, 0.76);
  overflow: hidden;
  margin-right: 20px;
}
.chatName{
  width: 100%;
  margin: 0;
  background-color: var(--primary-color);
  border-radius: 5px 5px 0px 0px;
}

 h2{
  text-align: center;
  color:var(--thirdy-color);
  font-size: 24px;
    padding: 5px 0px 10px 0px;
  margin: 0;
}
.messagesSpace {
  flex: 1;
  overflow-y: auto;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.formChat {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.messageInput {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.messageButton {
  padding: 12px 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.messageButton:hover {
  background-color: var(--thirdy-color);
  color: white;
}
/*ormat list*/
li {
  padding: 10px 15px;
  background-color: var(--other--msgs);
  color: var(--secondary-color);
  font-size: 14px;
  border-radius: 15px;
  max-width: 70%;
  overflow-wrap: break-word;
  list-style: none;
}
.msgUsername {
  font-weight: 700;
}

.message-other {
  align-self: flex-start;
  margin-left: 30px;
}

.message-me {
  align-self: flex-end;
  background-color: var(--thirdy-color);
  color: white;
  margin-right: 30px;
}
/* name modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal);
  align-items: center;
  justify-content: center;
  z-index: 100;

  display: flex;
}

.hiddenModal {
  display: none;
}

.nameForm {
  width: 30%;
  background-color: var(--other--msgs);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--secondary-color);
}

.nameInput {
  width: 60%;
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 10px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.formButton {
  width: 30%;
  min-width: 100px;
}

/* alerts*/

.notifications {
  position: fixed;
  top: 20px;
 align-items: center;
 justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 999;
}

.notification {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #355c4c;
  color: white;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}
 
.usersSpace{
  margin-left: 20px;
  max-width: 30%;
  border: none;
  
}

.userIcon{
 
  width: 20px;  
  height: 20px;
  fill: var(--secondary-color); 

}
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.liNewUser{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 50%;
  margin: 0;
  align-items: center;
  background-color: white;
  padding: 5px;
}

.activeUsersList{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 10px;
}